In [14]:
marks={'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
def student_grade(name):
    if name in marks.keys(): 
        print(name, 'grade is', marks[name])
    else:
        print('cannot find this students name')
    
student_grade('Andy')

#Q2
def average(dic):
        start=0
        for value in dic.values():
            start+=value
        start=start/len(dic)
        print('average is', start)
average(marks)

Andy grade is 88
average is 75.2

In [5]:
def number(n):
    while n<num:
        print(n)
        n=n*n
        print("squared", n)
    else:
        print ("greater than", num)
num=100
number(4)

4
squared 16
16
squared 256
greater than 100

In [15]:
def sumup(num):
    sum=0
    t=1  
    while t<=num:
        sum=sum+t
        t=t+1
    print(sum)
sumup(8)

36

In [9]:
def sumstep(num):
    sum=0
    t=1
    for t in range(num+1):
        sum=sum+t
        print(sum)
        t=t+1
    print('total',sum)
sumstep(8)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
total 465

In [7]:
def given(st,fin):
    for i in range(st,fin):
        sumup = sum(range(st,fin))
        print('sum is', sumup)
        mean=sumup/(fin-st)
        print('mean is', mean)
        deviations=[(x-mean)**2 for x in range(st,fin)]
        variance =sum(deviations)/(fin-st)
        std=variance**(1/2)
        print('standard deviation is', std)
        break
given(1,100)

sum is 4950
mean is 50.0
standard deviation is 28.577380332470412

In [8]:
def minimal(v1,v2,v3,v4):
    if v1<v2:
        if v1<v3:
            if v1<v4:
                print('minimal value is', v1)
    
    elif v2<v3:
        if v2<v1:
            if v2<v4:
                print('minimal value is', v2)
    elif v3<v2:
        if v3<v1:
            if v3<v4:
                print('minimal value is', v3)
    else:
        print('minimal value is', v4)

minimal(3,1,0,5)

minimal value is 0

In [13]:
def concatenate(x,y,z):
    full=x+y+z
    print(full)
str1='hi '
str2='my name is '
str3='adelaide'
concatenate(str1,str2,str3)

hi my name is adelaide